*/.idea
.idea
log.txt
src/snakes/out
*/log.txt
out
results.txt
production/
*.iws
logs
*.class
SnakeAI/bin/snakes/SnakesUIMain.class
SnakeAI/bin/Zischelbot/Zischelbot.class
SnakeAI/bin/Zischelbot/Zischelbot$Game_Tree.class
.vscode/launch.json
SnakeAI/src/snakes/SnakeGame.java
.vscode/launch.json
